@import '../Vars.sass'

.seeker
    color: $dark_blue
    background-color: $grey
    border-radius: 7px
    height: 40px
    width: 80%
    font-family: $fontTwo
    font-size: 15px
    border: none
    padding-left: 20px
    outline: none

.seeker::placeholder
    color: $dark_blue