@import '../Vars.sass'

// .smallButton img
//     background-color: $yellow
//     border-radius: 50px
//     height: 30px
//     padding: 0px
    
.smallButton
    background-color: $yellow
    background-image: url('https://img.icons8.com/android/50/000000/return.png');
    border: none
    height: 30px
    width: 30px
    border-radius: 50px
    padding: 0px
    outline: none