@import '../Vars.sass'
    
.smallButton
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $yellow
    height: 35px
    width: 35px
    border-radius: 50px
    font-size: 30px