@import './Vars.sass'

.container__home
    width: 100%
    height: 100%
    position: relative

    &--header
        width: 100%
        padding: 20px 20px 0px 20px
        box-sizing: border-box
        position: absolute
        top: 0
        z-index: 100
        display: flex
        align-items: center
        justify-content: space-between

    &--footer
        width: 100%
        padding: 0 2%
        box-sizing: border-box
        position: absolute
        bottom: 1%
        z-index: 100
        display: flex
        align-items: flex-end
        justify-content: space-between

#map
    width: 100%
    height: 100%

.logo
    max-width: 180px