@import './Vars.sass'


body
    padding: 20px 10px 30px 10px
    margin: 0px
    font-family: $font

    /**Por el momento no logro que la imagen se visualice como fondo*/
    //background-image: url(../static/backgroundMap.jpg)

.container
    height: 530px
    display: flex
    flex-direction: column
    justify-content: space-between


.header
    display: flex
    align-items: center
    justify-content: space-around

.footer
    display: flex
    justify-content: space-between
    align-items: flex-end

.footer img
    width: 50px