@import './Vars.sass'
@import './BodyStandar.sass'

.container__home
    padding: 20px 10px 10px 10px
    height: 560px
    display: flex
    flex-direction: column
    justify-content: space-between



.header
    position: relative
    display: flex
    align-items: center
    justify-content: space-around

.footer
    display: flex
    justify-content: space-between
    align-items: flex-end

    & img
        width: 50px
        position: relative