@import './Vars.sass'


.container__search
    padding: 20px 10px 30px 10px

.header
    height: 30px
    display: flex
    justify-content: space-around
    align-items: center

.banner
    margin-top: 20px
    height: 70px
    display: flex
    justify-content: space-around
    align-items: center

.favorites
    margin: 10px 15px 20px 15px

.favorits__container
    margin-bottom: 10px
    display: flex
    justify-content: space-between

.favorits__button
    margin-top: 15px
    display: flex
    justify-content: center